<%- include('partials/head') %>

<body>
    <%- include('partials/nav') %>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1>Add new word</h1>
                <form action="/" method="post">
                    <div class="form-floating mb-3">
                        <input name="word" required type="text" class="form-control" id="word" placeholder="word">
                        <label for="word">Word</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea name="description" required class="form-control" placeholder="description" id="description"
                            cols="30" rows="10"></textarea>
                        <label for="description">Description</label>
                    </div>
                    <label for="img">Image link(optional) :</label>
                    <input type="text" name="img" class="form-control" id="img" placeholder="www.google.com">
                    <button class="btn btn-dark float-end">Add</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>