<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>

    <div class="container">
        <h1>Sorry no result found :(</h1>
        <h2>Please help us adding the word</h2>
        <form action="/word/new" method="get">
          <button type="submit" class="btn btn-dark">Add new word</button>
        </form>
    </div>


</body>
</html>